/*字体，然后在不同的部位使用不同的字体*/
@font-face {
    font-family: btfFont;
    src: url(../static/fontGood.woff2) format('woff2')
}

@font-face {
    font-family: AiDianF;
    src: url(../static/AiDianF.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "btfFont" !important;
    background-color: #f0f2f5;
    /* 背景图片api */
    background-image: url(https://api.boxmoe.com/random.php);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 1080px) {
    body {
        background-image: url(../images/ameng.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -50px;
    }
}

.root > .nav {
    background-color: #FFF;
    height: 50px;
}

.root > .nav ul {
    display: flex;
    justify-content: space-around;
}

.root > .nav ul li {
    float: left;
    list-style: none;
    line-height: 50px;
}


.root > .nav > ul > .time > .next {
    color: #70a1ff;
}

.root > .nav > .title_content {
    /*text-align: center;*/
    /*line-height: 50px;*/
}

.root > .nav > ul > .title_content > span {
    font-size: 27px;
    font-weight: 400;
}

.root > .content > .core > .title_time {
    width: 90%;
    margin: 30px auto;
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.root > .nav > ul > .menu {
    display: none;
}

.root > .nav > ul > .menu > .drop {
    position: relative;
}

.root > .nav > ul > .menu > .drop > a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.root > .nav > ul > .menu > .drop > .drop_box {
    width: 90px;
    /*height: 40px;*/
    background-color: #FFF;
    position: absolute;
    /*top: 35px;*/
    left: -27px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
}

.root > .nav > ul > .menu > .drop:hover > .drop_box {
    display: block;
}


.root > .nav > ul > .menu > .drop > .drop_box > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.root > .nav > ul > .menu > .drop > .drop_box > ul li {
    float: none;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: #000;
}

.root > .nav > ul > .menu > .drop > .drop_box > ul > li > a:hover {
    /*background-color: #70a1ff;*/
    color: #70a1ff;
}


.root > .content > .core > .title_time .current {
    font-weight: 300;
    font-size: 20px;
    text-shadow: rgba(62, 66, 66, 0.68) -8px -4px 37px;
}

.root > .content > .core > .countdown {
    width: 90%;
    margin: 30px auto;
    /*background-color: #FFF;*/
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 10px;
}

/**/
.root > .content > .core > .countdown {
    display: flex;
    justify-content: space-around;
    padding: 13px 10px;
}

.root > .content > .core > .countdown > div {
    width: 300px;
    height: 400px;
    /*background-color: #f1f2f6;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    font-family: AiDianF !important;
}


.root > .content > .core > .countdown > div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.root > .content > .core > .countdown > div p {
    font-size: 70px;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 400px;
}

.root > .content > .core > .countdown > i {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}

/**
    模态框
 */
.root > .Modal {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
}

.root > .Modal > .Modal_box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /*background-color: #dfe4ea;*/
    background-image: linear-gradient(103.3deg, rgb(252, 225, 208) 30%, rgb(255, 173, 214) 55.7%, rgb(162, 186, 245) 81.8%);
    text-align: center;
    padding: 20px;
}

.root > .Modal > .Modal_box .info {
    /*background-color: #70a1ff;*/
    width: 280px;
    text-align: right;
}

.root > .Modal > .Modal_box .info > div {
    padding: 10px 0;
}

.root > .Modal > .Modal_box .info > div input {
    border: 1px solid #1e90ff;
    height: 25px;
    padding: 0 2px;
}


.root > .Modal > .Modal_box .info > div input:hover {
    box-shadow: #1e90ff 0px 2px 8px 0px;
}

.root > .Modal > .Modal_box .info > div input:focus {
    outline: none;
}

.root > .Modal > .Modal_box .info > .btn_info {
    text-align: center;
}

.root > .Modal > .Modal_box .info > .btn_info button {
    width: 60px;
    height: 30px;
    border: 1px solid #70a1ff;
    border-radius: 7px;
}

/**
    footer
 */
.root > .footer {
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    line-height: 40px;
    text-align: center;

}

.root > .footer > .copyright > span i {
    color: #70a1ff;
}
